/*LOGO frontpage*/
.imglogo {
    display: block;
    width: 55%;
    margin: 5vw auto;
}

/*LOGO frontpage*/
/*TXT FRONPAGE*/
.continuetxt {
    background-color: red;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
}

.continuetxt h2:hover {
    color: #83B9B3;
    text-decoration: none;
    transition: all .3s linear;
}

/*TXT FRONPAGE*/
