@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

/*LOGO frontpage*/
.imglogo {
    display: block;
    width: 55%;
    margin: 5vw auto;
}

/*LOGO frontpage*/
/*TXT FRONPAGE*/
.continuetxt {
    background-color: red;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
}

.continuetxt h2:hover {
    color: #83B9B3;
    text-decoration: none;
    transition: all .3s linear;
}

/*TXT FRONPAGE SLUT*/

/*FRONTPAGE START*/
.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 100px;
    background-color: #F3F3F3;
}

.wrapper,
.wrapperabout img {
    width: 100%;
}

#aboutimg {
    max-width: 300px;
}

.wrapperitem {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}


h3,
h2,
h1 {
    font-family: "Roboto", sans-serif !important;
}

.wrapperitem,
p {
    font-family: "Nunito", sans-serif;
}

/*FRONTPAGE SLUT*/


/*ABOUTPAGE START*/
.wrapperabout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 100px;
    background-color: #C5B1B8;
}

.wrapperitemabout {
    flex-grow: 1;
    flex-basis: 500px;
}

/*ABOUTPAGE SLUT*/



/*HEADER/FOOTER START*/

footer {
    margin: 50px 100px 0 100px;
    font-family: 'Nunito', sans-serif;
}

.footeritems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footeritem {
    margin: 10px;
    flex-grow: 2;
}


/*media querry for header*/

/*desktop*/

@media screen and (min-width:1150px) {

    header li a {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: red;
        text-decoration: none;
    }

    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 10%;
    }

    .logo {
        margin-right: auto;
        max-height: 125px
    }

    .nav_links {
        list-style: none;
    }

    .nav_links li {
        display: inline-block;
        padding: 0px 20px;
    }

    .nav_links li a {
        transition: all 0.4s ease 0s;
    }

    .nav_links li a:hover {
        transition: all 0.4s ease 0s;
    }

    #nav_about {
        color: #C5B1B8 !important;
    }

    #nav_products {
        color: #83B9B3 !important;
    }

    #nav_network {
        color: #9FBEA2 !important;
    }

    #nav_references {
        color: #C4BC62 !important;
    }
}

/*mobil*/

@media screen and (max-width:1150px) {
    header li a {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: red;
        text-decoration: none;
    }

    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 10%;
    }

    .logo {
        margin-right: auto;
        max-height: 125px
    }

    .nav_links {
        list-style: none;
    }

    .nav_links li {
        display: inline-block;
        padding: 0px 20px;
    }

    .nav_links li a {
        transition: all 0.4s ease 0s;
    }

    .nav_links li a:hover {
        transition: all 0.4s ease 0s;
    }

    #nav_about {
        color: #C5B1B8 !important;
    }

    #nav_products {
        color: #83B9B3 !important;
    }

    #nav_network {
        color: #9FBEA2 !important;
    }

    #nav_references {
        color: #C4BC62 !important;
    }
}

/*HEADER/FOOTER SLUT*/
