/*LOGO frontpage*/
.imglogo {
    display: block;
    width: 75%;
    margin: 5vw auto;
}

/*LOGO*/

/*footer*/
footer {
    display: flex;
    align-items: center;
}

.footeritem {
    flex-basis: auto;
}

/*footer*/
